<!DOCTYPE html>
<html lang="en">
  <head>
    <title> TinyApp </title>
  </head>
  <body>
    <% include partials/_header %>
    <p>URLs</p>
    <% Object.keys(urls).forEach(function(url) { %>
      <form method="POST" action="/urls/<%= url %>/delete?_method=DELETE">
      <li id="<%= url %>"><%= url%> - <a href ="<%= urls[url] %>"><%= urls[url] %></a>  -  <a href="/urls/<%= url %>">Edit</a>
      <input type="submit" value="Delete"></li>
      </form>
    <% }); %>
    <br>
    <a href ="/urls/new"> Shorten a new URL</a>
  </body>
</html>
